.wrap{
	background: white;
	width: 1331px;


}
.wrap .header{
	background:red;
	height: 70px;
	padding: 2px 15px;
	margin: 5px;
}
.wrap .menu{
	background: #00FFFF;
	margin: 5px;
}
 
.wrap .menu ul{
	padding: 0;
	margin: 0;
	background: #008B8B;
	overflow: hidden;
}
 
.wrap .menu ul li{
	list-style-type: none;margin: 0;padding:0; overflow: hidden;}
	li
{
	float: left;
}
	a:link,a:visited
{
	display: block;font-weight: bold;
	color: black;
	width:120px; text-align: center;
	padding: 4px;
	text-decoration:none;
	text-transform: uppercase;
}
	a:hover,a:active
{
	background-color: #7a991a;
}
.badan{
	height: 435px;
	}
.wrap .badan .sidebar{
	background: green;
	float: left;	
	width: 10%;
	height: 113%;

}
.wrap .badan .content{
	background:white;
	float: right;
	height: 113%;
	width: 90%;	
}
.footer{
	background: blue;
	width: 100%;
	margin-top:10px;
}
